
{% include 'user_header.html' %}


{% block body %}
<div class="top-bar">
  <div class="Buy-now">
  <a class="nav-link active" aria-current="page" href="/cart">Review Cart</a>
  </div>
<div class="search-box">
  <form action="/searchh" method="GET">
    <input type="text" name="query" placeholder="Search categories or products">
    <button id="search-button" type="submit">Search</button>
  </form>
</div>
</div>
  <div class="categories-container">
    
    {% for cat in category %}
      <div class="category-box" >
        <h2 color: aqua>{{ cat.category_name }}</h2>
        <div class="category-actions">
          <div class="product-list">
            {% for pod in product if pod.p_category_id == cat.category_id %}
              <div class="product-box">
                <div class="product-details">
                  
                    {% if pod.product_quantity>0%}
                      <p>{{ pod.product_name }} &nbsp;
                      {{ pod.product_rate }} {{ pod.product_unit }} </p><br>
                      <a id="buy-link" href="/{{ pod.product_id }}/buy">Buy</a>
                    {% else %}
                    <p style="opacity: 0.5;">{{ pod.product_name }}</p>
                      <h4 style="color: rgb(244, 66, 66);">Out of Stock</h4>
                    {% endif %}  
                </div>
                
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
    
  </div>
{% endblock %}
